@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './css/montserrat-bold.css';
@import './css/montserrat-regular.css';
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

:root {
  --accent-font: 'Montserrat Bold';
  --main-font: 'Montserrat Regular';
  --text-color: #00204a;
  --primary-color: #1d83d4;
  --secondary-color: #2196f3;
  --highlight-color: #ff9800;
  --box-shadow: 0 10px 10px rgb(0 0 0 / 15%);
  --border-radius: 1rem;
  --border-radius-light: 0.3rem;
  --light-gray: #f7f8f8;
  --light: white;
  --light-blue: rgb(33 150 243 / 15%);
  --font-size-large-x: 1.5rem;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.75rem;
  --normal-transition: ease-in-out 2ms;
  --button-padding: 0.3rem 1rem;
}
/* Dark mode CSS */
@media (color-scheme: dark) {
  :root {
    --light: #282a36;
    --text-color: #fff; /* Dark mode text color */
  }
}

body {
  font-family: var(--main-font);
  font-weight: 300;
  color: var(--text-color);
  font-size: var(--font-size-medium);
}
#app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'footer footer footer footer';

  border-radius: var(--border-radius);
}

.header {
  grid-area: header;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dadce0;
}
.main {
  grid-area: main;
  background-color: var(--light-white);
  border-left: 1px solid #dadce0;
  position: relative;
  height: fit-content;
}
.sidebar {
  grid-area: sidebar;
  height: 80vh;
  padding-top: 1rem;
  margin: 0 auto;
}
.footer {
  border-top: 1px solid #dadce0;
  grid-area: footer;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  body {
    font-size: var(--font-size-small);
  }
  #app {
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: repeat(1, 1fr);
  }
  .sidebar {
    display: none;
  }
  .header {
    padding: 1rem;
  }
  .main {
    border-left: 0;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
